backcall
cycler
decorator
ipython
ipython-genutils
jedi
kiwisolver
matplotlib
numpy
pandas
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
scikit-learn
scipy
simplegeneric
six
sklearn
traitlets
wcwidth
catboost
